.row
  .small-1.columns
    =image_tag "brisket.png", id: 'brisket'
.row
  .small-12.columns
    %h2 Create A Profile
.row
  .small-12.medium-6.columns
    .panel
      = form_for Profile.new , :hmtl => { :multipart => true } do |f|
        .inputs
          = f.label :image
          = f.file_field :image
          = f.label :bio
          = f.text_area(:bio)
          = f.label :hometown
          = f.text_area(:hometown)
          = f.label :age
          = f.text_area(:age)
        .actions
          = f.submit "Create Profile", class: 'button tiny radius'