.row
  .small-1.columns
    =image_tag "steak.png", id: 'steak'
.row
  .small-12.columns
    %h1= "#{@profile.user.username}" + "'s Profile"
.row
  .small-6.columns
    %h4= "About " + "#{@profile.user.username}"
    .panel
      %ul
        %li
          =image_tag @profile.image_url(:thumb).to_s
        %li
          .subheader
            Bio:
          %span= @profile.bio
        %li
          .subheader
            Hometown:
          %span= @profile.hometown
        %li
          .subheader
            Age:
          %span= @profile.age

    -if current_user && @profile == current_user.profile
      = link_to "Update Profile", edit_profile_path(@profile), class: 'button tiny radius'
      = link_to "New Recipe", new_recipe_path, class: 'button tiny radius'

  .small-6.columns
    %h4 Search
    .panel
      = form_tag recipes_path, :method => 'get' do
        = text_field_tag :search, params[:search], :id => 'search_field'
        = submit_tag "Search By Recipe Title", :name => nil, class: 'button tiny radius'
        = link_to_function "Clear", "$('search_field').clear()"
      = form_tag ingredients_path, :method => 'get' do
        = text_field_tag :search, params[:search], :id => 'search_field'
        = submit_tag "Search By Ingredients", :name => nil, class: 'button tiny radius'
        = link_to_function "Clear", "$('search_field').clear()"

  .small-6.columns
    %h4 Recipes
    .panel
      - @recipes.each do |x|
        %div{class: "panel #{current_user && @profile == current_user.profile ? 'recipe-panels' : ''}"}
          .row.margin-top-10
            .large-8.columns
              = link_to x.title, recipe_path(x.id)
            -if current_user && @profile == current_user.profile
              .large-2.columns
                = link_to "Edit", edit_recipe_path(x.id), class: 'button tiny radius recipe_button'
              .large-2.columns
                = link_to "Delete", recipe_path(x.id), method: :delete, data: {id: x.id }, class: 'button tiny radius recipe_button'