<h1>Your Profile</h1>
<p><%= current_user.username %></p>
<p><%= @profile.bio %></p>

<%= button_to "Update Profile", edit_profile_path(@profile), :method => :get %>
<%= link_to "New Recipe", new_recipe_path, :method=>:get%>

<% @profile.user.recipes.each do |x|%>
  <p><%= link_to x.title, recipe_path(x.id) %></p>
  <p><%= link_to "Edit", edit_recipe_path(x.id) %></p>
  <p><%= link_to "Delete", recipe_path(x.id), method: :delete, data: {id: x.id } %></p>
<%end%>

