<div class="row">
  <div class="small-1  columns">
    <%=image_tag "brisket.png", id: 'brisket' %>
  </div>
</div>
<div class="row">
  <div class="small-12  columns">
    <h1>Create A Recipe</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= form_for @recipe do |f| %>
      <%= f.label :title %>
      <%= f.text_area(:title) %>
      <%= f.label :description %>
      <%= f.text_area(:description) %>
      <%= f.label :instructions %>
      <%= f.text_area(:instructions, rows: 4) %>
<div class="row">
  <div class="small-4 columns">
      <%= f.label :servings %>
      <%= f.text_area(:servings) %>
      <%= f.label :prep_time %>
      <%= f.text_area(:prep_time) %>
      <%= f.label :cook_time %>
      <%= f.text_area(:cook_time) %>

  </div>

  <div class="small-4  columns">
    <h5>Ingredients</h5>
    <fieldset id="ingredients">
       <%= f.fields_for :recipeingredients do |recipe_ingredient| %>
         <%= render "recipeingredient_fields", :f => recipe_ingredient %>
       <% end %>

     <div class = "links margin-top-10">
       <%= link_to_add_association 'Add Another Ingredient', f, :recipeingredients %>
     </div>
     </fieldset>
     <%= f.submit "Post Recipe", class: 'button tiny radius' %>

  </div>
  <div class="small-4  columns">
  </div>
</div>
<% end %>