<div class="row">
  <div class="small-12  columns">
    <h1>Create A Recipe</h1>
  </div>
</div>

<div class="row">
  <div class="small-12  columns">
    <%= form_for @recipe do |f| %>
      <%= f.label :title %>
      <%= f.text_area(:title) %>
      <%= f.label :description %>
      <%= f.text_area(:description) %>
      <%= f.label :servings %>
      <%= f.text_area(:servings) %>
      <%= f.label :prep_time %>
      <%= f.text_area(:prep_time) %>
      <%= f.label :cook_time %>
      <%= f.text_area(:cook_time) %>
      <%= f.label :instructions %>
      <%= f.text_area(:instructions) %>
    <fieldset id="ingredients">
       <%= f.fields_for :recipeingredients do |recipe_ingredient| %>
         <%= render "recipeingredient_fields", :f => recipe_ingredient %>
       <% end %>
     </fieldset>
     <div class = "links">
       <%= link_to_add_association 'add ingredient', f, :recipeingredients %>
     </div>
 </div>
</div>

    <%= f.submit "Post Recipe" %>

<% end %>


