.row
  .large-12.columns
    %h1 Show Recipe
    .fieldset
      .legend
        recipe by
        %p= @recipe.user.username
    .subheader
      recipe title:
    %p= @recipe.title
    %blockquote= @recipe.description
    %p= @recipe.servings
    %p= @recipe.prep_time
    %p= @recipe.cook_time
    .subheader
      Ingredients:
    .panel
      - @recipe.recipeingredients.each do |recipeingredient|
        %p
          = recipeingredient.quantity
          = recipeingredient.ingredient.name
    .subheader
      Instructions:
    .panel
      %p= @recipe.instructions
    -if @recipe.user == current_user
      = button_to "Edit", edit_recipe_path(@recipe), method: :get
      = button_to "Delete", recipe_path(@recipe), method: :delete, data: {id: @recipe.id }