.row
  .small-1.columns
    =image_tag "bacon.png", id: 'bacon'
.row
  .small-12.columns
    =image_tag @recipe.image_url(:big_thumb).to_s
    %h1= @recipe.title
.row
  .small-6.columns
    .panel
      %ul
        %li
          .subheader
            recipe by
          %span= link_to "#{@recipe.user.username}", profile_path(@recipe.user.profile)
        %li
          .subheader
            Description:
          %span= @recipe.description
  .small-6.columns
    .panel
      %ul
        %li
          .subheader
            Servings:
          %span= @recipe.servings
        %li
          .subheader
            Prep time:
          %span= @recipe.prep_time
          .subheader
            Cook time:
          %span= @recipe.cook_time
.row
  .large-6.columns
    .subheader
      Ingredients:
    .panel
      - @recipe.recipeingredients.each do |recipeingredient|
        %p
          = recipeingredient.quantity
          = recipeingredient.ingredient.name
.row
  .large-12.columns
    .subheader
      Instructions:
    .panel
      %textarea{rows: 4}= @recipe.instructions

    -if @recipe.user == current_user
      = link_to "Edit", edit_recipe_path(@recipe), method: :get, class: 'button tiny radius'
      = link_to "Delete", recipe_path(@recipe), method: :delete, data: {id: @recipe.id }, class: 'button tiny radius'