.row
  .small-12.columns
    %h1= @recipe.title
.row
  .small-6.columns
    .panel
      .subheader
        recipe by
      %p= link_to "#{@recipe.user.username}", profile_path(@recipe.user.profile)
      .subheader
        Description:
      %p= @recipe.description
  .small-6.columns
    .panel
      .subheader
        Servings:
      %p= @recipe.servings
      .subheader
        Prep time:
      %p= @recipe.prep_time
      .subheader
        Cook time:
      %p= @recipe.cook_time
.row
  .large-6.columns
    .subheader
      Ingredients:
    .panel
      - @recipe.recipeingredients.each do |recipeingredient|
        %p
          = recipeingredient.quantity
          = recipeingredient.ingredient.name
.row
  .large-12.columns
    .subheader
      Instructions:
    .panel
      %p= @recipe.instructions

    -if @recipe.user == current_user
      = button_to "Edit", edit_recipe_path(@recipe), method: :get, class: 'button tiny radius'
      = button_to "Delete", recipe_path(@recipe), method: :delete, data: {id: @recipe.id }, class: 'button tiny radius'