.row
  .small-3.columns
    = form_tag recipes_path, :method => 'get' do
      = text_field_tag :search, params[:search], :id => 'search_field'
      = submit_tag "Search By Recipe Title", :name => nil, class: 'button tiny radius'
  .small-offset-2.small-3.columns
    = link_to "I'm Feelin' Lucky", recipe_random_path, class: 'button tiny radius lucky'
  .small-3.columns
    = form_tag ingredients_path, :method => 'get' do
      = text_field_tag :search, params[:search], :id => 'search_field'
      = submit_tag "Search By Ingredients", :name => nil, class: 'button tiny radius'
.row
  =image_tag "picnic.png", id: 'picnic'